/*
FLEXBOX
*/
.navbar{
	background-color: darkblue
	color: white;
	height:100px;
	border: solid 1px black;
}
.box-150-px-1{
	height: 150px;
	width: 150px;
	border: solid 1px black;
	margin: 25px;
}
.box-50-px-1{
	height: 50px;
	width: 50px;
	margin: 5px;
	border: solid 1px red;
}
.margin-25{
	margin: 25px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-item{
  padding: 8px;
  margin: 16px;
}
.flex-center {
  justify-content: center;
}
.flex-space {
  display: flex;
  justify-content: space-around;
}
